#main{
    display: flex;
    width: 90%;
    height: 100%;
    border: 1px solid black;
    margin: auto;
    gap: 10%;
}
#main1{
    display: flex;
    width: 800px;
    border: 1px solid black;
}
#main2{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
#image{
    width: 150px;
    height: 200px;
}
#main1Contain{
    display: flex;
    border: 1px solid black;
}