body{
    width: 80%;
    margin: auto;
}
#mainContainer{
    display: flex;
}
#main{
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    border-radius: 5px;
}
#total{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
}
#contain{
    display: flex;
    border-bottom: 1px solid black;
}
#image{
    width: 200px;
    height: 200px;
    padding: 10px;
}
#proceed{
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
}