body{
    font-family: sans-serif;
}
#nav{
    width: 100%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: gray;
    position: fixed;
    margin-top: -60px;
    background-color: white;
    color: black;
   
}

#navDiv1{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    font-size: 12px;
    align-items: center;
    
}
#navDiv2{
    width: 10%;
    height: 100%;
    margin-left: -120px;
}
#navDiv2Img{
   cursor: pointer;
  
}
#navDiv3{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 100%;
    font-size: 12px;
    align-items: center;
}

#container1{
    width: 95%;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
#container1>div{
    width: 48%;
    
}
#imgDiv{
    width: 100%;
    height: 450px;
}
#innerDiv{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: -10px;
    color: gray;
}
#p2{
   /* margin-top: -10px; */
   color: gray;
   font-size: 20px;
}
#p3{
   margin-top: -10px;
   color: gray;
   font-size: 20px;
}
img{
   width: 100%;
   height: 100%;
}


#container2{
   width: 95%;
   /* border: 1px solid red; */
   margin: auto;
   display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#container2>div{
   width: 31%;
   /* height: 600px; */
  
   /* border: 1ox solid black; */
}
#container2ImgDiv{
   width: 100%;
   height: 450px;
   /* border: 1px solid red; */
   display: flex;

}
#container2Innerdiv{
   display: flex;
   gap: 20px;
  
}
#p4{
   font-size: 20px;
   color: gray;
   margin-top: 13px;
}
#p5{
   margin-top: -10px;
   color: gray;
}
p{
   color: gray;
}


#container3{
   width: 95%;
   margin: auto;
   /* border: 1px solid red; */
   display: flex;
   margin-top: 50px;
   justify-content: space-between;
}
#container3>div{
   width:48%;
  /* height: 500px; */
   /* border: 1px solid black; */
}
#con3ImgDiv{
   width: 100%;
   height: 450px;
   /* border:1px solid green; */
   gap: 20px;
}
#shop{
   border: 1px solid black;
   padding: 15px;
   width: 30%;
 
   text-align: center;
   margin-top: -5px;
   border-radius: 10px;
   font-size: 15px;
   align-items: center;
}

#container4{
   margin-top: 70px;
   width: 100%;
   height: 150px;
   /* border: 1px solid black; */
   /* display: grid;
   grid-template-columns: repeat(4,1fr);
    */
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#container4>div{
   width: 19%;
   height: 100%;
 border-bottom: 1px solid gray;
 border-top: 1px solid gray;
   gap:10px
}
#con4P1{
   font-size: 40PX;
   margin: 15px 0 0 10px;
}
#con4P2{
   margin:10px 0 0 10px;
}
#con4Img{
   width:90px;
   height:85%;
   margin-top: 10px;
   
}
#con4Div2{
   display: flex;
}
#con4P3{
   margin-top: 50px;
}

#container7{
 width: 100%;
 /* border: 1px solid black; */
 margin-top: 50px;
}
#con7p{
 font-size: 100px;
 width: 70%;
 margin: auto;
 text-align: center;
}
#con7p2{
 font-size: 55px;
 text-align: center;
}
#edit{
 width: 200px;
 padding: 15px;
 border: 1px solid black;
 margin: auto;
 text-align: center;
 border-radius: 10px;

}
#footer{
width: 80%;
margin: auto;
display: flex;
/* border: 1px solid black; */
justify-content: space-between;
font-size: 14px;
margin-top: 150px;

}
#foot2{
width: 75%;
margin: auto;
}
#foot3{
width: 85%;
margin: auto;
display: flex;
/* border: 1px solid black; */
justify-content: space-between;
font-size: 14px;
margin-top: 10px;
margin:20px 0 30px 0; 
color: gray;

}
#foot4{
width: 15%;
/* border: 1px solid red; */
display: flex;
justify-content: space-between;
font-size: 20px;
color: black;

}
